<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Flights Accounting</title>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<h1>Учёт выполненных авиарейсов</h1>
<a th:href="@{/listAirline}">Авиакомпании</a>
</br>
<a th:href="@{/listAirplane}">Самолёты</a>
</br>
<a th:href="@{/listFlightType}">Типы рейсов</a>
</br>
<a th:href="@{/listFlight}">Рейсы</a>
</br>
<a th:href="@{/listRunway}">Взлётно-посадочные полосы</a>
</br>
<a th:href="@{/listCurrentFlight}">Выполняемые рейсы</a>
</br>
<a th:href="@{/listCounterparty}">Контрагенты</a>
</br>
<a th:href="@{/listGroundHandling}">Наземное обслуживание</a>
</br>
<a th:href="@{/listLedger}">Книга учёта</a>
</br>
</body>
</html>